<div class="class">
    <ul>
      <li>
        <a href="" class="logo">
          <img src="../../../assets/logo.jpeg" alt="logo">
          <span class="name">KHANZO ENTERPRISES</span>
        </a>
      </li>
      <li><a><i class='fas fa-circle-user'></i><span class="nav-item">"Agent name"</span></a></li>
      <li><a href="agenthome"><mat-icon>home</mat-icon><span class="nav-item">Dashboard</span></a></li>
      <li><a href="sellnow"><mat-icon>shopping_cart</mat-icon><span class="nav-item">Sell Now</span></a></li>
      <li><a href="lead"><mat-icon>folder</mat-icon><span class="nav-item">Lead</span></a></li>
      <li><a (click)="logout()" class="logout"><mat-icon>logout</mat-icon><span class="nav-item">Logout</span></a></li>
    </ul>
</div>