<mat-toolbar style="background-color:white;justify-content:space-between;">
  <span>bug</span>
  <nav class="profileuser">
    <ul>
      <li>
        <img class="profile" src="../../../assets/agent.png" alt="avatar">
        <span class="agent">{{agent?.name}}</span>
        <ul>
<!--          <li class="sub">-->
<!--            <span class="material-icons-outlined">-->
<!--              <mat-icon>account_balance</mat-icon>-->
<!--            </span>-->
<!--            <p>Account</p>-->
<!--          </li>-->
          <li class="sub">
            <span class="material-icons-outlined">
              <mat-icon>account_circle</mat-icon>
            </span>
            <p (click)="viewProfile()">Profile</p>
          </li>
          <li class="sub">
            <span class="material-icons-outlined">
              <mat-icon>logout</mat-icon>
            </span>
            <p (click)="logout()">logout</p>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
</mat-toolbar>
<div class="class">
  <ul>
    <li>
      <a href="" class="logo">
        <img src="../../../assets/homelogo.png" alt="logo">
        <span class="name">Hayatamn ENTERPRISES</span>
      </a>
    </li>
    <li><a href="agenthome">
        <mat-icon>home</mat-icon><span class="nav-item">Dashboard</span>
      </a></li>
    <li><a (click)="sellnow()">
        <mat-icon>shopping_cart</mat-icon><span class="nav-item">Sell Now</span>
      </a></li>
    <li><a href="lead">
        <mat-icon>folder</mat-icon><span class="nav-item">Lead</span>
      </a></li>
  </ul>
</div>