/* *{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}  */
/* .sidenav{
    top: 0;
    position: fixed;
    left: -250px;
    width: 250px;
    height: 100%;
    background: #042331;
    transition: all .5s ease;
}
.sidenav header{
    font-size: 22px;
    color: white;
    text-align: center;
    line-height: 70px;
    background-color: #063146;
    user-select: none;
}
.sidenav ul a{
    display: block;
    height: 100%;
    width: 100%;
    line-height: 65px;
    font-size: 20px;
    color: white;
    padding-left: 40px;
    box-sizing: border-box;
    border-top: 1px solid rgba(255,255,255,.1);
    border-bottom: 1px solid black;
    transition: .4s;
}
ul li:hover a{
    padding-left: 50px;
}
.sidenav ul a mat-icon{
    margin-right: 16px;
}
#check{
    display: none;
}
label #btn,label #cancel{
    position: absolute;
    cursor: pointer;
    border-radius: 3px;
}
label #btn{
    font-size: 35px;
    color: black;
    padding: 6px 12px;
    transition: all;
}
label #cancel{
    position: fixed;
    z-index: 1111;
    left: -195px;
    top: 17px;
    font-size: 30px;
    color: #0a5275;
    padding: 4px 9px;
    transition: all .5s ease;
}
#check:checked ~ .sidenav{
    top: 0;
    left: 0;
    transition: all .5s;
}
#check:checked ~label #btn{
    left: 250px;
    opacity: 0;
    pointer-events: none;
}
#check:checked ~label #cancel{
    left: 195px;
} */
/* *{
    margin: 0;
    padding: 0;
    outline: none;
    border:none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
} */
*{
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    z-index: 1;
}
body{
    background:#dfe9f5 ;
}
.class{
    position: fixed;
    top: 0;
    bottom: 0;
    height: 100vh;
    background:#fff;
    width: 90px;
    overflow: hidden;
    transition: width 0.2s linear;
    box-shadow: 0 20px 35px rgba(0,0,0,0.1);
}
.logo{
    text-align: center;
    display: flex;
    transition: all 0.5s ease;
    margin: 10px 0 0 10p;
}
.logo img{
    margin-left: 15px;
    width:45px ;
    height: 45px;
    border-radius: 50%;
}
.logo span{
    font-weight: bold;
    padding-left: 15px;
    font-size: 18px;
    text-transform: uppercase;
}
a{
    position: relative;
    color: rgb(85,83,83);
    font-size: 14px;
    display: table;
    width: 300px;
    padding: 10px;
}
mat-icon,i{
    position: relative;
    width: 70px;
    height: 40px;
    top: 14px;
    font-size: 20px;
    text-align: center;
}
.nav-item{
    position: relative;
    top: 12px;
    margin-left: 10px;
}
a:hover{
    background: #eee;
}
.class:hover{
    width: 280px;
    transition: all 0.5s ease;
}
.logout{
    position: absolute;
    bottom: 0;
}
@media screen {
    .class{
        height: 100%;  
    }
}
@media  screen and (max-width:600px) {
    .class{
        width:50px;
    }
    .class:hover{
        width: 200px;
    }
    mat-icon,i{
        text-align: left;
        font-size:10px;
    }
    a{
        width: 200px;
    }
}
