<app-adminsidenav></app-adminsidenav>
<div class="content" style="margin-left:145px;">
<h1 style="display:flex;justify-content:center;font-weight:bold;margin-top: 10px;">Welcome Admin!</h1>
<div class="container" style="margin-top:10px;margin-left: 100px;">
  <div class="header">
    <a *ngFor="let type of types">
      <button [class.active-button]="selected === type" (click)="filterPolicies(type)" mat-button>{{ type }}</button>
    </a>
  </div>
  <div class="row shadow-lg p-3 mb-5 bg-body rounded" style="margin-top:25px;width: 95%;">
    <div class="col-md-12">
    <div class="table-wrap">
    <table class="table">
    <thead>
    <tr>
    <th>Policy ID</th>
    <th>Customer Name</th>
    <th>Agent Name </th>
    <th>Policy date</th>
    <th>Insurance type</th>
    <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let insurance of policies">
      <th scope="row">{{ insurance.id }}</th>
      <td>{{ insurance.customerName }}</td>
      <td>{{ insurance.createdByName }}</td>
      <td>{{ insurance.createdDate.toDate() | date:'dd-MM-yyyy'}}</td>
      <td>{{ insurance.vehicleType }}</td>
      <!-- <td><a class="view-btn" style="cursor:pointer;" (click)="openDialog(insurance)">View</a></td> -->
      <td>
      <ng-template [ngIf]="insurance.currentState === 'SUBMITTED'">
        <td><a style="cursor: pointer;" class="view-btn" (click)="openDialog(insurance)">Declare Amount</a></td>
    </ng-template>
    <ng-template [ngIf]="insurance.currentState === 'REJECTED'">
        <td><a style="cursor: pointer;" class="view-btn" style="color: red" disabled>REJECTED</a></td>
    </ng-template>
    <ng-template [ngIf]="insurance.currentState !== 'REJECTED' && insurance.currentState !== 'SUBMITTED'">
        <td><a style="cursor: pointer;" class="view-btn" (click)="openDialog(insurance)">View</a></td>
    </ng-template>
  </td>
    </tr>
    </tbody>
    </table>
    </div>
    </div>
  </div>
</div>
</div>