.content{
    width: 400px;
    height: 500px;
    background: #004aad;
    color: white;
    margin: 70px auto;
    padding: 70px 30px;
    border-radius: 10px;
}
h1{
    text-align: center;
    padding-bottom:20px ;
    margin-top:0 ;
}
label{
    font-size: 18px;
    display: block;
}
input{
    width: 100%;
    margin-bottom:20px   ;
}
input[type="text"]{
    color: white;
    display: block;
    border: none;
    background:transparent;
    border-bottom: 1px solid #fff;
    height: 40px;
    outline: none;
    font-size: 16px;
}
button {
    margin-left: 100px;
    margin-top: 10px;
	border-radius: 20px;
    background-color: #ff1616;
    border: 1px solid #ff1616;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}

button:active {
	transform: scale(0.95);
}

button:focus {
	outline: none;
}

button.ghost {
	background-color: transparent;
	border-color: #FFFFFF;
}
.logo{
    height: 100px;
    width: 100px;
    position: absolute;
    top: 75px;
    left:calc(50% - 50px);
}

@media screen and (max-width:600px) {
    .content{
        width: 200px;
    }
    button{
        margin-left: 2px;
    }
}