<!-- <mat-toolbar>
    <a routerLink="login" style="text-decoration: none;color: black;" >Website name</a>
    <ng-container>
      <button class="btn" mat-button (click)="logout()">
        <mat-icon>logout</mat-icon>
        <a style="text-decoration:none;color: black;">Logout</a>
      </button>
    </ng-container>
</mat-toolbar> -->
<!-- <div class="container" style="margin-top:20px;">
  <div class="location">
    <span style="font-weight:bold;font-size:15px;">Location</span>
    <input type="text"  style="margin-left: 10px;width: 40%;" placeholder="Enter location to buy">
    <a href="" style="margin-left:5px;"><button class="btn btn-primary"><span style="color:white ;">Search</span></button></a>
  <div class="containers">
    <div class="card">
      <img src="https://images.unsplash.com/photo-1615147342761-9238e15d8b96?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1001&q=80" class="card__image" alt="brown couch" />
      <div class="card__content">
        <time datetime="2021-03-30" class="card__date">Date:30 Mar 2022</time>
        <p>Sqfeet:</p>
        <p>Rate:</p> -->
        <!-- <span class="card__title">Duis autem vel eum iriure dolor in hend in vulputate<span> -->

<div class="container" style="margin-top:20px">
<div class="location">
  <span style="font-weight:bold;font-size:15px;">Location</span>
    <input type="text"  style="margin-left: 10px;width: 40%;" placeholder="Enter location to buy">
    <a href="" style="margin-left:5px;"><button class="btn btn-primary"><span style="color:white ;">Search</span></button></a>
</div>
  <!-- <div class="containers" style="display:flex">
    <div class="containers">
      <div class="card">
        <div class="card__header">
          <img src="https://source.unsplash.com/600x400/?computer" alt="card__image" class="card__image" width="600">
        </div>
        <div class="card__body">
          <span class="tag tag-blue">Technology</span>
          <h4>What's new in 2022 Tech</h4>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi perferendis molestiae non nemo doloribus. Doloremque, nihil! At ea atque quidem!</p>
        </div>
      </div>
  </div>
    <div class="containers">
      <div class="containers">
        <div class="card">
          <div class="card__header">
            <img src="https://source.unsplash.com/600x400/?computer" alt="card__image" class="card__image" width="600">
          </div>
          <div class="card__body">
            <span class="tag tag-blue">Technology</span>
            <h4>What's new in 2022 Tech</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi perferendis molestiae non nemo doloribus. Doloremque, nihil! At ea atque quidem!</p>
          </div>
        </div>
    </div>
  </div>
    <div class="containers">
      <div class="card">
        <div class="card__header">
          <img src="https://source.unsplash.com/600x400/?computer" alt="card__image" class="card__image" width="600">
        </div>
        <div class="card__body">
          <span class="tag tag-blue">Technology</span>
          <h4>What's new in 2022 Tech</h4>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi perferendis molestiae non nemo doloribus. Doloremque, nihil! At ea atque quidem!</p>
        </div>
      </div>
  </div> -->

  <div class="videos">
    <div class="containers">
        <div class="card">
          <div class="card__header">
            <img src="https://source.unsplash.com/600x400/?computer" alt="card__image" class="card__image" width="600">
          </div>
          <div class="card__body">
            <!-- <h4>What's new in 2022 Tech</h4> -->
            <p>Sq.Feet:</p>
        <p>Date:Date of creation</p>
        <p>Rate:</p>
          </div>
        </div>
    </div>
    <div class="containers">
      <div class="card">
        <div class="card__header">
          <img src="https://source.unsplash.com/600x400/?computer" alt="card__image" class="card__image" width="600">
        </div>
        <div class="card__body">
          <!-- <span class="tag tag-blue">Technology</span> -->
          <!-- <h4>What's new in 2022 Tech</h4> -->
          <p>Sq.Feet:</p>
        <p>Date:Date of creation</p>
        <p>Rate:</p>
        </div>
      </div>
  </div>
  <div class="containers">
    <div class="card">
      <div class="card__header">
        <img src="https://source.unsplash.com/600x400/?computer" alt="card__image" class="card__image" width="600">
      </div>
      <div class="card__body">
        <!-- <span class="tag tag-blue">Home</span> -->
        <!-- <h4>Sq.Feet:</h4> -->
        <p>Sq.Feet:</p>
        <p>Date:Date of creation</p>
        <p>Rate:</p>
      </div>
    </div>
  </div>
  <div class="containers">
    <div class="card">
      <div class="card__header">
        <img src="https://source.unsplash.com/600x400/?computer" alt="card__image" class="card__image" width="600">
      </div>
      <div class="card__body">
        <!-- <h4>What's new in 2022 Tech</h4> -->
        <p>Sq.Feet:</p>
    <p>Date:Date of creation</p>
    <p>Rate:</p>
      </div>
    </div>
</div>
</div>