  * {
    font-family: 'Montserrat', sans-serif;
  }

  body {
    min-height: 100vh;
    display: flex;
  }

  /* navbar */
  .navbar {
    height: 50px;
    width: 100%;
    /* background: rgba(0, 0, 0, 0.4); */
    background: #004aad;
  }

  .navbar ul {
    margin-right: 20px;
  }

  .navbar ul li {
    list-style: none;
    display: inline-block;
    line-height: 30px;
  }

  .navbar ul li a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 6px 13px;
    font-family: 'Roboto', sans-serif;
    transition: .4s;
  }

  /* side filter */
  .filter {
    font-family: 'Montserrat', sans-serif;
    min-width: 300px;
    /* background:#004aad; */
    border-radius: 2px;
    background-color: whitesmoke;
    /* background:radial-gradient(#aaaab8,#6e6e91); */
  }

  .filter_text {
    color: black;
    display: flex;
    justify-content: center;
    font-weight: 600;
  }

  .rangeslider,
  .rangeslider__fill {
    display: block;
    border-radius: 10px;
  }

  .rangeslider {
    position: relative;
  }

  .rangeslider:after {
    top: 0%;
    left: 0;
    right: 0;
    content: '';
    width: 100%;
    height: 5px;
    margin-top: -2.5px;
    border-radius: 5px;
    position: absolute;
    background: #212131;
  }

  .rangeslider--horizontal {
    width: 100%;
    height: 28px;
  }

  .rangeslider--vertical {
    width: 5px;
    min-height: 150px;
    max-height: 100%;
  }

  .rangeslider--disabled {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
    opacity: 0.4;
  }

  .rangeslider__fill {
    position: absolute;
    background: #ff637b;
  }

  .rangeslider--horizontal .rangeslider__fill {
    top: 0;
    height: 100%;
  }

  .rangeslider--vertical .rangeslider__fill {
    bottom: 0;
    width: 100%;
  }

  .rangeslider__handle {
    top: 50%;
    width: 28px;
    height: 28px;
    cursor: pointer;
    margin-top: -14px;
    background: white;
    position: absolute;
    background: #ff637b;
    border-radius: 50%;
    display: inline-block;
  }

  .rangeslider__handle:active {
    background: #ff5a7b;
  }

  .rangeslider__fill,
  .rangeslider__handle {
    z-index: 1;
  }

  .rangeslider--horizontal .rangeslider__fill {
    top: 50%;
    height: 5px;
    margin-top: -2.5px;
  }

  /* Budget */
  .budget-wrap {
    padding: 40px;
  }

  .budget-wrap .header .title {
    font-size: 18px;
    margin-bottom: 30px;
    color: black;
    margin-top: 20px;
  }

  .budget-wrap .header .title .pull-right {
    color: #ff5a84;
    font-size: 24px;
    font-weight: 400;
  }

  /* button */
  .footer {
    display: flex;
    justify-content: center;
    margin-top: 30px;
  }

  .footer .btn {
    color: inherit;
    padding: 12px 24px;
    border-radius: 50px;
    display: inline-block;
    text-decoration: none;
    border: none;
  }

  /* .footer .btn.btn-def{
    background-color:#9090c8;
    border: #9090c8;
  }
  .footer .btn.btn-pri{
    margin-left: 10px;
    color:#eee;
    background:#ff5a84;
  } */

  /* card */
  .card {
    box-sizing: border-box;
    overflow: hidden;
    /* border-radius: var(--border-radius-primary); */
    box-shadow: 24px 24px 80px white;
    box-shadow: 0 .1rem 1rem white;
    border-radius: 1em;
    background: white;
    /* background: linear-gradient(to right, #FFFFFF, #ECE9E6); */
  }

  .card__image {
    width: 100%;
    height: 150px;
    /* border-radius: var(--border-radius-primary); */
    object-fit: fill;
    margin-bottom: 18px;
  }

  /* logout */
  .navbar ul li .logout {
    color: #004aad;
    position: absolute;
    top: 5px;
    right: 10px;
    background-color: white;
    border-radius: 2px;
    padding: 3px;
  }

  .navbar ul li .logout span {
    font-size: 15px;
  }

  /* viewbutton */
  .view-btn {
    text-decoration: none;
    width: 100%;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  mat-slider {
    width: 200px;
  }