<!-- <app-sidenav></app-sidenav> -->

<body>
<div class="container">
    <div class="form-container sign-in-container">
        <form [class.spinnerOverlay]="spinnerActive" (submit)="submitClaim()">
            <label >Name as per RC</label>
            <input [ngModelOptions]="{standalone: true}" [(ngModel)]="claim.customerName" type="text"  name="name" required />
            <label >Vehicle Number</label>
            <input [ngModelOptions]="{standalone: true}" [(ngModel)]="claim.vehicleNumber" type="text" >
            <label > Policy Number</label>
            <input [ngModelOptions]="{standalone: true}" [(ngModel)]="claim.policyNumber" type="text" >
            <label >Email ID</label>
            <input [ngModelOptions]="{standalone: true}" [(ngModel)]="claim.emailID" type="text" >
            <label >Phone Number</label>
            <input [ngModelOptions]="{standalone: true}" [(ngModel)]="claim.phoneNumber" type="text" >
            <label >Vehicle Type</label>
            <input [ngModelOptions]="{standalone: true}" [(ngModel)]="claim.vehicleType" type="text" >
            <span>Vehicle Image <input class="input_file" type="file" placeholder="Vehicle image" (change)="chooseVehicle($event)"></span>
            <!-- Claim -->
            <span>CSR Photocopy<input class="input_file" type="file" arial-placeholder="CSR copy" (change)="chooseCSR($event)"></span>
            <button (submit)="submitClaim()" type="submit">SUBMIT</button>
        </form>
        <mat-spinner *ngIf="spinnerActive" class="mat-spinner" diameter="60"></mat-spinner>
    </div>
</div>
</body>