<app-sidenav></app-sidenav>
<div class="contents" style="margin-left:250px;margin-top: 10px;">
  <h1 style="font-weight:bold;">Dashboard</h1>
  <div style="display:flex;">
    <div class="container">
      <a class="card2">
        <h3 class="policy-title-text">Total Policies</h3>
        <p class="policy-text">32</p>
        <div class="go-corner">
        </div>
      </a>
      <a class="card2">
        <h3 class="policy-title-text">Total Premimum</h3>
        <p class="policy-text">10</p>
        <div class="go-corner">
        </div>
      </a>
      <a class="card2">
        <h3 class="policy-title-text">Total Renewals</h3>
        <p class="policy-text">18</p>
        <div class="go-corner">
        </div>
      </a>
    </div>
  </div>
  <h2 style="margin-top: 30px;display: flex;">Trending Videos</h2>
  <div style="margin-top:10px;">
    <div class="content" style="padding: 16px;">
      <div fxLayout="row wrap" fxLayoutGap="16px grid">
        <div fxFlex="28%" fxFlex.xs="100%" fxFlex.sm="43%" *ngFor="let video of youtubeVideos">
          <div class="card">
            <div class="card_header">
              <iframe width="100%" height="100%" [src]="video.url | safe" allowfullscreen></iframe>
            </div>
            <div class="card__body" style="margin-left:10px">
              <p class="video-title">{{video.title}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>