<mat-toolbar>
  <a href="" class="logo">
    <img src="../../../assets/homelogo.png" alt="logo">
    <span class="name">Hayatamn ENTERPRISES</span>
  </a>
  <nav class="profileuser">
    <ul>
      <li>
        <img class="profile" src="../../../assets/agent.png" alt="avatar">
        <span class="agent">{{user.name}}</span>
        <ul style="z-index: 2">
          <li class="sub">
            <span class="material-icons-outlined">
              <mat-icon>account_circle</mat-icon>
            </span>
            <p (click)="viewProfile()">Profile</p>
          </li>
          <li class="sub">
            <span class="material-icons-outlined">
              <mat-icon>receipt</mat-icon>
            </span>
            <p (click)="viewPolicy()">My Policy</p>
          </li>
          <li class="sub">
            <span class="material-icons-outlined">
              <mat-icon>logout</mat-icon>
            </span>
            <p (click)="logout()">Logout</p>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
</mat-toolbar>

<div class="content">
    <mat-card>
    <h2>Basic Information</h2>
    <div class="container" style="margin-top:50px">
        <div class="row">
          <div class="col"><strong>User Name</strong></div>
          <div class="col"><strong>Email</strong></div>
          <div class="col"><strong>Mobile Number</strong></div>
        </div>
        <div class="row" style="margin-top:10px">
          <div class="col">{{user.name}}</div>
            <div class="col">{{user.email}}</div>
            <div class="col">{{user.phoneNumber}}</div>
    </div>
  </div>
<!--  <div class="container">-->
<!--    <div class="row" style="margin-top:40px;">-->
<!--      <div class="col"><strong>State</strong></div>-->
<!--      <div class="col"><strong>City</strong></div>-->
<!--      <div class="col"><strong>Pincode</strong></div>-->
<!--      <div class="col"></div>-->
<!--    </div>-->
<!--    <div class="row" style="margin-top:10px">-->
<!--      &lt;!&ndash; <div class="col">{{user.state}}</div>-->
<!--            <div class="col">{{user.city}}</div>-->
<!--            <div class="col">{{user.pinCode}}</div>-->
<!--            <div class="col"></div> &ndash;&gt;-->
<!--    </div>-->
<!--  </div>-->
    </mat-card>
</div>