<app-sidenav></app-sidenav>
<!-- <div style="margin-left:200px;margin-top: 30px;">
    <h1>General Insurance</h1>
    <div class="warpper" style="margin-left:50px;">
        <div class="icon car">
            <a>
                <span><mat-icon>home</mat-icon></span>
                <div>Car</div>
            </a>
        </div>
        <div class="icon two">
            <a>
                <span><mat-icon>home</mat-icon></span>
                <div>Two Wheeler</div>
            </a>
        </div>
        <div class="icon commercial">
            <a>
                <span><mat-icon>home</mat-icon></span>
                <div>Commercial</div>
            </a>
        </div>
        <div class="icon real">
            <a>
                <span><mat-icon>home</mat-icon></span>
                <div>Real estate</div>
            </a>
        </div>
    </div>
</div> -->
<div class="container" style="margin-top: 60px;">
    <h1 style="margin-left: 80px;">General Insurance</h1>
    <div class="wrapper" style="margin-top: 30px;">
        <div class="icon buy">
            <a href="insurance" style="text-decoration: none;">
                <span><i class="fa fa-car" aria-hidden="true" style="font-size:50px;margin-left:25px;line-height: 90px;"></i></span>
                <div class="toolpit" style="color: black;margin-top: 15px;margin-left: 35px;">Car</div>
            </a>
        </div>
        <div class="icon buy">
            <a href="insurance" style="text-decoration: none;">
                <span class="i"><i class='fas fa-motorcycle' style="font-size:50px;margin-left:18px;line-height: 90px;"></i></span>
                <div class="toolpit"style="color: black;margin-top: 15px;margin-left: 15px;">Two Wheeler</div>
            </a>
        </div>
        <div class="icon buy">
            <a href="insurance" style="text-decoration: none;">
                <span><mat-icon>domain</mat-icon></span>
                <div class="toolpit" style="color: black;margin-top: 15px;margin-left: 20px;">Commercial</div>
            </a>
        </div>
        <div class="icon buy">
            <a href="insurance" style="text-decoration: none;">
                <span><mat-icon>landscape</mat-icon></span>
                <div class="toolpit" style="color: black;margin-top: 15px; margin-left: 10px;">Real estate</div>
            </a>
        </div>
        <div class="icon buy">
            <a href="insurance" style="text-decoration: none;">
                <span><i class="fa fa-car" aria-hidden="true" style="font-size:50px;margin-left:25px;line-height: 90px;"></i></span>
                <div class="toolpit" style="color: black;margin-top: 15px; margin-left: 10px;">Claim</div>
            </a>
        </div>
    </div>
</div>