.wrapper{
  display: inline-flex;
  height: 100%;
  width: 100%;
  place-content: center;
  /* background: linear-gradient(315deg,#ffffff,#d7e1ec); */
  }
  .wrapper .icon{
    margin: 0 40px;
    cursor: pointer;
  }
  .wrapper .icon span{
    height: 100px;
    width: 100px;
    display: block;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 10px 10px rgba(0,0,0,0.1);
  }
  mat-icon{
    margin-left: 25px;
    font-size: 50px;
    line-height: 90px;
  }
  /* i{
    margin-left: 15px;
    font-size: 50px;
    line-height: 90px;
  } */