*{
  margin: 0;
  padding: 0;
  box-sizing:border-box ;
}
/* table {
    width: 100%;
  }
  .pagination{
    justify-content: center;
  }
  .navbar{
    position:fixed;
    list-style: none;
  } */
  .header a{
    padding:6px 13px;
    text-decoration: none;
    color: black;
    cursor: pointer;  
}
.header a:hover{
  background-color: black;
  color: white;
  border-radius: 5px;
}


/* @media screen {
  .row{
    max-width: 600px;
    margin-left: 0%;
  }
  .container{
    margin-left: 0%;
  }
} */