<body>
    <!--==========================
    Header
    ============================-->
  
    <header id="header" style="background:#fff;">
      <div id="topbar">
        <div class="container">
          <div class="social-links">
            <a href="#" class="twitter"><i class="fi fi-brands-twitter"></i></a>
            <a href="mailto:someone@example.com" class="facebook"><i class="fi fi-br-envelope"></i></a>
            <a href="#" class="linkedin"><i class="fi fi-brands-linkedin"></i></a>
            <a href="#" class="instagram"><i class="fi fi-brands-instagram"></i></a>
          </div>
        </div>
      </div>
  
      <a id="call" class="btn-call" href="https://api.whatsapp.com/send?phone=+918190045427&text=Hello."><div class="icon"><i class="fi fi-brands-whatsapp"></i></div>Whatsapp Up</a>
      <div class="container">
        <!-- <a href="#header" class="scrollto"><img src= alt="" class="img-fluid"></a> -->
        <!-- <img src="../../../assets/homelogo.png"> -->
        <div class="logo float-left">
          <!-- Uncomment below if you prefer to use an image logo -->
          <h1 class="text-light"><a href="#intro" class="scrollto"><span>HAYAT AMN</span></a></h1>
          <!-- <a href="#header" class="scrollto"><img src="../../../assets/homelogo.png" alt="" class="img-fluid"></a> -->
        </div>
        <nav class="main-nav float-right d-none d-lg-block">
          <ul>
            <li class="active"><a href="#intro">Home</a></li>
            <li><a href="#explore">Explore</a></li>
            <li><a *ngIf="isUserLogin"><span (click)="viewPolicy()">My Policy</span></a></li>
            <li><a href="#footer">Contact Us</a></li>
            <li><a href="#about">About Us</a></li>
            <li><a href="#services">Service</a></li>
            <li><a *ngIf="isUserLogin"><span (click)="viewProfile()">Profile</span></a></li>
            <li><a *ngIf="!isUserLogin" href="login">login</a></li>
            <li *ngIf="isUserLogin"><a><span style="cursor: pointer;" (click)="logout()">logout</span></a></li>
          </ul>
        </nav><!-- .main-nav -->
        
      </div>
    </header><!-- #header -->
  
    <!--==========================
      Intro Section
    ============================-->
    <section id="intro" class="clearfix" style="background:#f5f8fd">
      <div class="container d-flex h-100">
        <div class="row justify-content-center align-self-center">
          <div class="col-md-6 intro-info order-md-first order-last">
            <!-- <h2>Learn Python<br>Programming Language <br> with us.<br><br><span id=typed></span></h2> -->
            <h2>An opportunity<br>to get life cover &<br> return<br>Start today!<br><br><span id=typed></span></h2>
            <!-- <span id="typed"></span> -->
            <div>
              <!-- <a (click)="explore()" style="cursor:pointer" class="btn-get-started scrollto">Explore Now!</a> -->
            </div>
          </div>
    
          <div class="col-md-6 intro-img order-md-last order-first">
            <img src="../../../assets/homelogo.png" alt="" class="img-fluid" style="max-width:100%;margin-top:100px;">
          </div>
        </div>
  
      </div>
    </section><!-- #intro -->
  
    <main id="main">

            <!--==========================
        Policy section
      ============================-->

      <div class="container_buy" id="explore">
        <h1 style="display: flex;justify-content: center; font-weight: 600;  font-family: 'Montserrat', sans-serif;">Get Started With</h1>
        <p style="margin-top:50px;display: flex;justify-content: center;font-size: 18px;  font-family: 'Montserrat', sans-serif;">Explore the real estate option in top cities</p>
        <div class="wrapper" style="margin-top: 20px;">
          <div class="icon" style="left: 0%;">
            <a href="buy" style="text-decoration: none;">
              <span>
                <mat-icon class="mat">home</mat-icon>
              </span>
              <div class="toolpit" style="color: black;margin-top: 15px;margin-left: 35px;">Buy</div>
            </a>
          </div>
          <div class="icon">
            <a href="rent" style="text-decoration: none;">
              <span class="i">
                <mat-icon class="mat">home</mat-icon>
              </span>
              <div class="toolpit" style="color: black;margin-top: 15px;margin-left: 35px;">Rent</div>
            </a>
          </div>
          <div class="icon">
            <a href="plot" style="text-decoration: none;">
              <span>
                <mat-icon class="mat">landscape</mat-icon>
              </span>
              <div class="toolpit" style="color: black;margin-top: 15px;margin-left: 20px;">Plot/Land</div>
            </a>
          </div>
          <div class="icon">
            <a href="commercial" style="text-decoration: none;">
              <span>
                <mat-icon class="mat">location_city</mat-icon>
              </span>
              <div class="toolpit" style="color: black;margin-top: 15px; margin-left: 10px;">Commercial</div>
            </a>
          </div>
          <div class="icon">
            <a href="lease" style="text-decoration: none;">
              <span>
                <mat-icon class="mat">home</mat-icon>
              </span>
              <div class="toolpit" style="color: black;margin-top: 15px;margin-left: 30px;">Lease</div>
            </a>
          </div>
          <div class="icon buy">
            <a href="pg" style="text-decoration: none;">
              <span>
                <mat-icon class="mat"> local_hotel</mat-icon>
              </span>
              <div class="toolpit" style="color: black;margin-top: 15px;margin-left: 40px;">PG</div>
            </a>
          </div>
        </div>
      </div>
          <!-- Only if user logged in -->
      <div class="container_policy" *ngIf="isUserLogin">
        <p style="display: flex;justify-content: center;font-weight: 500;font-size: 18px;font-family: 'Montserrat', sans-serif;">Policies</p>
        <div class="policy">
          <div class="icon">
            <a [routerLink]="['/insurance']"
                     [queryParams]="{ type: 'insurance', vehicleType: 'car', createdBy: 'User', createdByName: user?.name, createdByID: user?.email}"
              style="text-decoration: none;">
              <span class="i">
                <!-- <mat-icon class="mat">car</mat-icon> -->
                <i class="fa fa-car" aria-hidden="true" style="font-size:50px;margin-left:10px;line-height: 90px;"></i>
              </span>
              <div class="toolpit" style="color: black;margin-top: 20px;margin-left: 35px;">Car</div>
            </a>
          </div>
          <div class="icon">
            <a [routerLink]="['/insurance']"
              [queryParams]="{ type: 'insurance', vehicleType: 'commercial', createdBy: 'User', createdByName: user?.name, createdByID: user?.email}"
              style="text-decoration: none;">
              <span class="i">
                <!-- <mat-icon class="mat">how_to_reg</mat-icon> -->
                <i class='fas fa-motorcycle' style="font-size:50px;margin-left:8px;line-height: 90px;"></i>
              </span>
              <div class="toolpit" style="color: black;margin-top: 20px;margin-left: 5px;">Two Wheeler</div>
            </a>
          </div>
          <div class="icon">
            <a [routerLink]="['/insurance']"
              [queryParams]="{ type: 'insurance', vehicleType: 'commercial', createdBy: 'User', createdByName: user?.name, createdByID: user?.email}"
              style="text-decoration: none;">
              <span class="i">
                <mat-icon class="mat" style="font-size:50px;margin-left:10px;margin-top: 20px;">domain</mat-icon>
              </span>
              <div class="toolpit" style="color: black;margin-top: 85px;margin-left: 10px;">Commercial</div>
            </a>
          </div>
        </div>
      </div>
      
      <!--==========================
        About Us Section
      ============================-->
      <section id="about" style="background:#f5f8fd">
  
        <div class="container">
          <div class="row">
  
            <div class="col-lg-5 col-md-6">
              <div class="about-img">
                <img src="../../../assets/aboutus.jpg" alt="">
              </div>
            </div>
  
            <div class="col-lg-7 col-md-6">
              <div class="about-content">
                <h2>About Us</h2>
                <p>We provide a variety of high-quality services that are designed for business owners who need affordable,
                     reliable, and quality support.</p>
                <p>With years of experience and hundreds of happy and satisfied customers, 
                    we established a team of hardworking professionals and experts to meet all your needs. 
                    Our staff is committed to getting the best outcome for your business or project.</p>
              </div>
            </div>
          </div>
        </div>
  
      </section><!-- #about -->
  
  
      <!--==========================
        Services Section
      ============================-->
      <section id="services" class="section-bg" style="background-color:#fff;">
        <div class="container">
  
          <header class="section-header">
            <h3>Our Services</h3>
            <!-- <p>Our team of experts service your washing machine, Fridge we send the best technician who able service your washing machine & Fridge model,
              We provide Washing Machine/ Fridge Repair services in Chennai for home and commercial repair service and maintenance of machine.</p> -->
          </header>
  
          <div class="row">
  
            <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-duration="1.4s">
              <div class="box">
                <div class="icon" style="background: #fceef3;">
                  <img src="../../../assets/general.png" style="color: #ff689b; size: 20%; width: 40px; height: 40px;" alt="">
                  <!-- <i class="ion-ios-analytics-outline" style="color: #ff689b;"></i> -->
  
                </div>
                <h4 class="title"><a href="Pages/washing-machine.html">General Insurance</a></h4>
                <p class="description">To ensure your family is taken care of when you are not around.</p>
              </div>
            </div>
            <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-duration="1.4s">
              <div class="box">
                <div class="icon" style="background: #ced3d3;">
                  <!-- <i class="ion-ios-bookmarks-outline" style="color: #e98e06;"></i> -->
                  <img src="../../../assets/health.png" style="color: #3fcdc7; width: 40px; height: 40px;" alt="">
                </div>
                <h4 class="title"><a href="Pages/refrigerator.html">Health and Life Insurance</a></h4>
                <p class="description">To help your family pay-off loans in your absence.</p>
              </div>
            </div>
  
            <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
              <div class="box">
                <div class="icon" style="background: #8c9e9d;">
                  <!-- <i class="ion-ios-paper-outline" style="color: #3fcdc7;"></i> -->
                  <img src="../../../assets/estate.png" style="color: #3fcdc7; width: 40px; height: 40px;" alt="TV">
                </div>
                <h4 class="title"><a href="Pages/television.html">Real Estate</a></h4>
                <p class="description">Buy and Sale your properties with correct value.</p>
              </div>
            </div>
  
          </div>
  
        </div>
      </section><!-- #services -->
  
      <!--==========================
        Why Us Section
      ============================-->
  
  
      <section id="services" class="section-bg">
        <div class="container">
  
          <header class="section-header">
            <h3>Why Choose us?<br><br></h3>
          </header>
  
          <div class="row">
  
            <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-duration="1.4s">
              <div class="box">
                <div class="icon" style="background: #c5e4e2;">
                  <img src="../../../assets/online_process.png" style="color: #ff689b; size: 20%; width: 40px; height: 40px;" alt="">
                  <!-- <i class="ion-ios-analytics-outline" style="color: #ff689b;"></i> -->
  
                </div>
                <h4 class="title"><a href="">Easy online Process</a></h4>
                <p class="description">No one likes to waste their time on lengthy paperwork, and we understand that. Right from the process of buying a group health insurance plan to making claims is easy, quick and hassle free!.</p>
              </div>
            </div>
            <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-duration="1.4s">
              <div class="box">
                <div class="icon" style="background: #ced3d3;">
                  <!-- <i class="ion-ios-bookmarks-outline" style="color: #e98e06;"></i> -->
                  <img src="../../../assets/itexpert.png" style="color: #3fcdc7; width: 40px; height: 40px;" alt="">
                </div>
                <h4 class="title"><a href="">Professional Support</a></h4>
                <p class="description">No need to coordinate with multiple points of contact and third parties. With Digit’s Group Health Insurance, you only need to stay in touch with us and no one else.</p>
              </div>
            </div>
  
            <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
              <div class="box">
                <div class="icon" style="background: #8c9e9d;">
                  <!-- <i class="ion-ios-paper-outline" style="color: #3fcdc7;"></i> -->
                  <img src="../../../assets/less.png" style="color: #3fcdc7; width: 40px; height: 40px;" ale="">
                </div>
                <h4 class="title"><a href="">Cashless Claims</a></h4>
                <p class="description">Gives your employees the option to opt for cashless claims through a wide network of our hospitals spread across India. So, no matter where they are in India, they’ll always be covered at ease!.</p>
              </div>
            </div>
          </div>
  
        </div>
      </section><!-- #services -->
  
  
      <!--==========================
        Call To Action Section
      ============================-->
      <section id="call-to-action" class="wow fadeInUp">
        <div class="container">
          <div class="row">
            <div class="col-lg-9 text-center text-lg-left">
              <h3 class="cta-title">Call Now</h3>
              <p class="cta-text">Protect your legacy with life insurance.</p>
              <p class="cta-text">CALL : +91 8190045427</p>
            </div>
            <div class="col-lg-3 cta-btn-container text-center">
              <a class="cta-btn align-middle" href="tel:04147355985">call now</a>
            </div>
          </div>
  
        </div>
      </section><!-- #call-to-action -->
  
  
    </main>
  
    <!--==========================
      Footer
    ============================-->
    <footer id="footer" class="section-bg">
  
      <div class="footer-top" style="width:100%;">
          <div class="footer-container">
              <div class="container" style="padding-bottom: 10px;">
                  <a href="#">
                    <h2 style="padding-top: 20px;color:white;">HAYAT AMN</h2>
                  </a>
                  <h6 class="address">Address: No.28,Vidhya Complex,Mailam Road,Tindivanam.<br>Tindivanam-604 001</h6>
                  <h6>Land Line: 04147 355 985</h6>
                  <h6>Phone: +91 81900 45427</h6>
                  <h6>Email: info@hayatamn.com</h6>
              </div>
    
              <div class="copyright">
                  &copy; Copyright <strong>HAYAT AMN</strong>. All Rights Reserved
                </div>
                <div class="credits">
                  Developed and Designed by <a href="https://bairacorp.in/"><strong style="color:white;">BAIRACORP</strong></a>
                  <!-- <div>Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div> -->
              </div>
          </div>
      </div>
    </footer><!-- #footer -->
  
  
  </body>
  
  <router-outlet></router-outlet>