/* .content{
  justify-content: space-between;
}
.upload{
  margin-left: 800px;
} */
*{
  padding: 0;
  margin: 0;
}
.warpper{
  /* background:url(Agent.webp)no-repeat; */
  background-size: cover;
  height: 100vh;
}
.navbar{
  height: 80px;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
}
.logo{
  width: 140px;
  height: auto;
  padding: 20px 100px;
}
.navbar ul{
  float:right;
  margin-right: 20px
}
.navbar ul li{
  list-style: none;
  margin: 0 8px;
  display: inline-block;
  line-height: 80px;
}
.navbar ul li a{
  text-decoration: none;
  color: white;
  font-size:20px; 
  padding: 6px 13px;
  font-family:'Roboto',sans-serif;
  transition: .4s;
}
.navbar ul li a.active,
.navbar ul li a:hover{
  background-color: red;
  border-radius: 5px;
}
.center{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-family: sans-serif;
}
.center h1{
  color: black;
  font-size: 70px;
  font-weight: bold;
  width: 900px;
  text-align: center;
}
.center h2{
  color: black;
  margin-top: 50px;
  font-size:70px ;
  font-weight: bold;
  width: 885px;
  text-align: center;
}
.center .buttons{
  margin: 45px 280px;
}
.buttons{
  display:flex;
}
.buttons a{
  text-align: center;
  text-decoration: none;
  height: 50px;
  width: 150px;
  font-size: 20px;
  font-weight: bold;
  color: #ffb3b3;
  background-color: red;
  border: 1px solid #cc000c;
  outline: none;
  cursor: pointer;
  border-radius: 25px;
  transition: .5s;
}
.buttons .btn{
  margin-left: 25px;

}
.buttons a:hover{
  background: #cc0000;
}