/* .content{
  justify-content: space-between;
}
.upload{
  margin-left: 800px;
} */
/* *{
  padding: 0;
  margin: 0;
}
.warpper{
  background-size: cover;
  height: 100vh; */
/* }
.navbar{
  height: 80px;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
}
.logo{
  width: 140px;
  height: auto;
  padding: 20px 100px;
}
.navbar ul{
  float:right;
  margin-right: 20px
}
.navbar ul li{
  list-style: none;
  margin: 0 8px;
  display: inline-block;
  line-height: 80px;
}
.navbar ul li a{
  text-decoration: none;
  color: white;
  font-size:20px; 
  padding: 6px 13px;
  font-family:'Roboto',sans-serif;
  transition: .4s;
}
.navbar ul li a.active,
.navbar ul li a:hover{
  background-color: red;
  border-radius: 5px;
}
.center{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-family: sans-serif;
}
.center h1{
  color: black;
  font-size: 70px;
  font-weight: bold;
  width: 900px;
  text-align: center;
}
.center h2{
  color: black;
  margin-top: 50px;
  font-size:70px ;
  font-weight: bold;
  width: 885px;
  text-align: center;
}
.center .buttons{
  margin: 45px 280px;
}
.buttons{
  display:flex;
}
.buttons a{
  text-align: center;
  text-decoration: none;
  height: 50px;
  width: 150px;
  font-size: 20px;
  font-weight: bold;
  color: #ffb3b3;
  background-color: red;
  border: 1px solid #cc000c;
  outline: none;
  cursor: pointer;
  border-radius: 25px;
  transition: .5s;
}
.buttons .btn{
  margin-left: 25px;

}
.buttons a:hover{
  background: #cc0000;
} */

*{
  margin: 0;
  padding:0 ;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
  /* background-image: url(./assets/home.jpg); */
}
.hero{
  width: 100%;
  height: 100vh;
  background: linear-gradient(rgba(12,3,51,0.3),rgba(12,3,51,.03));
  position: relative;
  padding: 0 5%;
  display: flex;
  align-items: center;
  justify-content: center;
}
nav{
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav .logo{
  width: 80px;
}
nav ul li{
  list-style: none;
  display: inline-block;
  margin-left: 40px;
}
nav ul li a{
  text-decoration: none;
  color: #fff;
  font-size: 17px;
}
nav ul li:hover{
  text-decoration:1px dashed black;
}
.content{
  text-align: center;
}
.content h1{
  font-size: 160px;
  color: #ffff;
  font-weight: 600;
  transition: 0.5s;
}
.content h1:hover{
  -webkit-text-stroke: 2px #fff;
  color: transparent;
}

/* button */
.btn-hover {
  margin-top: 40px;
  width: 200px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  margin: 20px;
  height: 55px;
  text-align:center;
  border: none;
  background-size: 300% 100%;

  border-radius: 50px;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.btn-hover:hover {
  background-position: 100% 0;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.btn-hover:focus {
  outline: none;
}
.btn-hover.color-2 {
  background-image: linear-gradient(to right, #f5ce62, #e43603, #fa7199, #e85a19);
  box-shadow: 0 4px 15px 0 rgba(229, 66, 10, 0.75);
}