<div class="hero">
   <nav>
    <img src="../../../assets/homelogo.png" alt="LOGO" class="logo" style="margin-left:10px">
    <ul>
        <li ><a  href="home">HOME</a></li>
        <li><a href="">CONTACT US</a></li>
        <li style="margin-right:10px"><a href="login">LOGIN</a></li>
    </ul>
   </nav>
   <div class="content">
    <h1>HAYAT AMN</h1>
    <h1 style="margin-top:100px">ENTERPRISES</h1>
    <div class="button" style="margin-top:50px">
        <button class="btn-hover color-2" (click)="explore()" style="margin-top:70px">EXPLORE</button>
    </div>
   </div>
</div>