<div class="location" style="margin-left:10px;margin-top:10px;">
  <span style="font-weight:bold;font-size:15px;">Location</span>
    <input type="text"  style="margin-left: 10px;width: 40%;" placeholder="Enter location to buy">
    <a href="" style="margin-left:5px;"><button class="btn btn-primary"><span style="color:white ;">Search</span></button></a>
</div>
<div class="content" style="padding: 16px;">
  <div fxLayout="row wrap" fxLayoutGap="16px grid">
    <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let num of [1,2,3,4,5,6]">
      <div class="card">
        <div class="card__header">
          <img src="https://source.unsplash.com/600x400/?computer" alt="card__image" class="card__image">
        </div>
        <div class="card__body" style="margin-left:10px">
          <p>BHK:</p>
          <p>Date:Date of creation</p>
          <p>Rent:</p>
        </div>
        <button style="width:40%;margin-left:80px;margin-bottom: 5px;">View</button>
      </div>
    </div>
  </div>
</div>