<!-- <mat-toolbar>
    <a routerLink="login" style="text-decoration: none;color: black;" >Website name</a>
    <ng-container>
      <button class="btn" mat-button (click)="logout()">
        <mat-icon>logout</mat-icon>
        <a style="text-decoration:none;color: black;">Logout</a>
      </button>
    </ng-container>
</mat-toolbar> -->

<div class="container" style="margin-top: 60px;">
    <h1 style="margin-left: 80px;">Get Started With</h1>
    <p style="margin-left: 80px;">Explore the real estate option in top cities</p>
    <div class="wrapper" style="margin-top: 30px;">
        <div class="icon">
            <a href="buy" style="text-decoration: none;">
                <span><mat-icon>home</mat-icon></span>
                <div class="toolpit" style="color: black;margin-top: 15px;margin-left: 35px;">Buy</div>
            </a>
        </div>
        <div class="icon">
            <a href="rent"  style="text-decoration: none;">
                <span class="i"><mat-icon>home</mat-icon></span>
                <div class="toolpit"style="color: black;margin-top: 15px;margin-left: 35px;">Rent</div>
            </a>
        </div>
        <div class="icon">
            <a href="plot"  style="text-decoration: none;">
                <span><mat-icon>landscape</mat-icon></span>
                <div class="toolpit" style="color: black;margin-top: 15px;margin-left: 20px;">Plot/Land</div>
            </a>
        </div>
        <div class="icon">
            <a href="commercial"  style="text-decoration: none;">
                <span><mat-icon>location_city</mat-icon></span>
                <div class="toolpit" style="color: black;margin-top: 15px; margin-left: 10px;">Commercial</div>
            </a>
        </div>
        <div class="icon">
            <a href="lease"  style="text-decoration: none;">
                <span><mat-icon>home</mat-icon></span>
                <div class="toolpit" style="color: black;margin-top: 15px;margin-left: 30px;">Lease</div>
            </a>
        </div>
        <div class="icon buy">
            <a href="pg"  style="text-decoration: none;">
                <span><mat-icon> local_hotel</mat-icon></span>
                <div class="toolpit" style="color: black;margin-top: 15px;margin-left: 40px;">PG</div>
            </a>
        </div>
    </div>
</div>