  <app-adminsidenav></app-adminsidenav>
  <h1 style="display:flex;justify-content:center;font-weight:bold;">Welcome Admin!</h1>
  <h2 style="font-weight:500; margin-left:100px;display:flex;margin-top: 10px;">Agent Information</h2>
  <div class="container" style="margin-top: 20px; margin-left: 100px;">  
    <div class="row shadow-lg p-3 rounded" style="margin-top:30px;width: 100%;">
        <table class="table">
        <thead>
        <tr>
        <th>Agent ID</th>
        <th>Agent Name</th>
        <th>Created on</th>
        <th>Mobile number</th>
        </tr>
        </thead>
        <tbody>
        <tr>
        <th scope="row">21324354</th>
        <td>Aravind</td>
        <td>2022-09-18</td>
        <td>90XXXXXX98</td>
        </tr>
        <tr>
        <th scope="row">24334456</th>
        <td>Vignesh</td>
        <td>2022-09-18</td>
        <td>90XXXXXX98</td>
        </tr>
        <tr>
        <th scope="row">33456578</th>
        <td>Sita</td>
        <td>2022-09-18</td>
        <td>90XXXXXX98</td>
        </tr>
        </tbody>
        </table>
      </div>
    </div>