<router-outlet></router-outlet>
<!-- <mat-toolbar>
    <a routerLink="login" style="text-decoration: none;color: black;" >Website name</a>
  <ng-container *ngIf="authservice.isuserLoggedin||authservice.isadminLoggedin;else loginbutton">
    <button class="btn" mat-button (click)="logout()" >
      <mat-icon>login</mat-icon>
      <a style="text-decoration: none;color: black;">Logout</a>
    </button>
  </ng-container>
  <ng-container *ngIf="authservice.currentUser$ | async as user;else loginbutton">
    <button class="btn" mat-button (click)="logout()">
      <mat-icon>logout</mat-icon>
      logout
    </button>
  </ng-container>
  <ng-template #loginbutton>
    <button class="btn" mat-button >
      <mat-icon>login</mat-icon>
      <a routerLink="admin" style="text-decoration: none;color: black;">Admin</a>
    </button>
  </ng-template>
</mat-toolbar> -->