<nav class="navbar">
    <ul>
        <li><a href=""class="active">HAYAT AMN ENTERPRISES</a></li>
        <li><a href="" class="logout" (click)="logout()"><span>Logout</span></a></li>
    </ul>
  </nav>
<body>
    <div class="container">
        <div class="form-container sign-in-container">
            <form action="#" (submit)="save()" [class.spinnerOverlay]="spinnerActive" >
                <h1>Details</h1>
                <select [ngModelOptions]="{standalone: true}" [(ngModel)]="property.type" id="propertyType" required>
                    <option disabled>Select type</option>
                    <option *ngFor="let type of typeList" [value]="type">{{type}}</option>
                </select>
                <input [ngModelOptions]="{standalone: true}" [(ngModel)]="property.ownerName"
                       type="text" placeholder="Owner Name" name="name" required />
                <input [ngModelOptions]="{standalone: true}" [(ngModel)]="property.date" type="Date" placeholder="">
                <input [ngModelOptions]="{standalone: true}" [(ngModel)]="property.address"
                       type="text" placeholder="Address" name="name" required />
                <input [ngModelOptions]="{standalone: true}" [(ngModel)]="property.sqFeet"
                       type="number" placeholder="Sq.feet" name="name" required />
                <input [ngModelOptions]="{standalone: true}" [(ngModel)]="property.bhk"
                       type="text" placeholder="BHK" name="name" required />
                <input [ngModelOptions]="{standalone: true}" [(ngModel)]="property.amount"
                       type="number" placeholder="Amount" name="name" required />
                <span class="photo">Photocopy<input (change)="choosePhoto($event)" class="input_file" type="file" placeholder="Image"></span>
                <button type="submit">Save</button>
            </form>
            <mat-spinner *ngIf="spinnerActive" class="mat-spinner" diameter="60"></mat-spinner>
        </div>
    </div>
</body>