<body>
<h1 style="margin-left:700px;">Welcom Admin!</h1>
<div class="container">
    <form>
        <p>Real estate</p>
        <div class="input-feilds">
            <div class="fields">
                <label>Owner Name</label>
                <input type="text" placeholder="Land owner name" style="margin-left:30px;">
            </div>
            <div class="fields">
                <label>Date</label>
                <input type="Date" style="margin-left:99px;">
            </div>
            <div class="fields">
                <label>Photocopy</label>
                <input type="file" (change)="choosephoto($event)" style="margin-left: 50px;">
            </div>
            <div class="fields">
                <label>Address</label>
                <input type="text" placeholder="Land Address" style="margin-left: 73px;">
            </div>
            <div class="fields">
                <label>Sq.Feet</label>
                <input type="text" placeholder="Total Sq.feet" style="margin-left:77px;">
            </div>
            <div class="fields">
                <label>BHK</label>
                <input type="text" placeholder="BHK" style="margin-left:99px;">
            </div>
            <div class="fields">
                <label>Rate</label>
                <input type="text" placeholder="Land Rate" style="margin-left:98px;">
            </div>
        </div>
        <button style="justify-content: center;" type="button"><span>Upload</span></button>
    </form>
</div>
</body>