.header a{
    padding:6px 13px;
    text-decoration: none;
    color: black;  
}
.header a.active,
.header a:hover{
  background-color: black;
  color: white;
  border-radius: 5px;
}
.date{
    margin-top: 10px;
}
.date button{
    color: blue;
    border: 1px solid blue;   
}
.container{
    top: 0px;
}
.btn{
    width: 35%;
    margin-left: 15px;
    height: 30px;
}
.btn span{
    justify-content: center;
    align-content: center;
    align-items: center;
    display: flex;
    font-size: 15px;
}
.action{
    display: flex;
    justify-content: center;
    /* align-items: center; */
}