<app-sidenav></app-sidenav>
<div class="container" style="margin-top:10px;margin-left:200px;">
    <h1 style="font-weight: bold;margin-left: 50px;">Insurance</h1>
    <div class="header" style="margin-left: 50px;">
        <a href="">Car</a>
        <a href="">Two Wheeler</a>
        <a href="">Commercial</a>
        <a href="" class="active">All Products</a>
    </div>
    <div class="row shadow-lg p-5 mb-5 bg-body rounded" style="margin-top:15px;max-width: 100%;margin-left: 50px;">
        <table class="table">
        <thead>
        <tr>
        <th>Lead ID</th>
        <th>Customer Name</th>
        <th>Agent</th>
        <th>Created on</th>
        <th>Mobile number</th>
        <th>Insurance name</th>
        <th>Plan name</th>
        <th>Type</th>
        <th class="action">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let policy of allPolicies">
        <th scope="row">{{ policy.id }}</th>
        <td>{{ policy.customerName }}</td>
        <td>{{ policy.createdByName}}</td>
        <td>{{ policy.createdDate.toDate() | date:'dd-MM-yyyy'}}</td>
        <td>{{ policy.phoneNumber }}</td>
        <td>Bajaj</td>
        <td>{{ policy.policyType }}</td>
        <td>{{ policy.type }}</td>
        <td>
<!--            <button type="button" class="btn btn-primary"><span>Change</span></button>-->
            <a [href]="policy.finalDocument" style="text-decoration: none; margin-left: 20px;" target="_blank">Download</a>
<!--            <button type="button" class="btn btn-success"><span>Success</span></button></td>-->
        </tr>
        </tbody>
        </table>
</div>