<nav>
    <ul>
      <li>
        <a href="" class="logo">
          <img src="../../../assets/homelogo.png" alt="logo">
          <span class="name">Hayatamn ENTERPRISES</span>
        </a>
      </li>
      <li><a href="adminhome"><mat-icon>home</mat-icon><span class="nav-item">Dashboard</span></a></li>
      <li><a href="agentdetails"><mat-icon>person</mat-icon><span class="nav-item">Agents</span></a></li>
      <li><a href="leads"><mat-icon>folder</mat-icon><span class="nav-item">Leads</span></a></li>
      <li><a href="agent-create"><mat-icon>person_add</mat-icon><span class="nav-item">Agent creation</span></a></li>
      <!-- <li><a href="adminhome"><mat-icon>notifications_active</mat-icon><span class="nav-item">notification</span></a></li> -->
      <li><a class="logout" (click)="logout()"><mat-icon>logout</mat-icon><span class="nav-item">Logout</span></a></li>
    </ul>
  </nav>