/* You can add global styles to this file, and also import other style files */
/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap'); */
/* 
.form-container{
    display: block;
    max-width: 450px;
    margin: auto;

    background: #eceff1;
    padding: 48px;
    border-radius: 16px;
}

.form-containerP{
    width: 100%;
}

.center{
    display: flex;
    justify-content: center;
}

.margin-top{
    margin-top: 16px;
}

.text-center{
    text-align: center;
} */
@import url('https://cdn-uicons.flaticon.com/uicons-brands/css/uicons-brands.css');
@import url('https://cdn-uicons.flaticon.com/uicons-regular-straight/css/uicons-regular-straight.css');
@import url('https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css');
@import url('https://cdn-uicons.flaticon.com/uicons-bold-rounded/css/uicons-bold-rounded.css');
@import url('https://cdn-uicons.flaticon.com/uicons-solid-rounded/css/uicons-solid-rounded.css');
@import url('https://cdn-uicons.flaticon.com/uicons-solid-straight/css/uicons-solid-straight.css');
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;}
