<app-sidenav></app-sidenav>
<div class="content" style="margin-left:250px;">
    <mat-card>
    <h2>Basic Information</h2>
    <div class="container">
        <div class="row">
          <div class="col"><strong>Person Name</strong></div>
          <div class="col"><strong>Agent ID</strong></div>
          <div class="col"><strong>Mobile Number</strong></div>
          <div class="col"><strong>Email</strong></div>
        </div>
        <div class="row" style="margin-top:10px">
            <div class="col">{{agent?.name}}</div>
            <div class="col">{{agent?.agentID}}</div>
            <div class="col">{{agent?.phoneNumber}}</div>
            <div class="col">{{agent?.email}}</div>
        </div>
    </div>

    <div class="container"  >
        <div class="row" style="margin-top:40px;">
          <div class="col"><strong>Address</strong></div>
          <div class="col"><strong>State</strong></div>
          <div class="col"><strong>City</strong></div>
          <div class="col"><strong>Pincode</strong></div>
        </div>
        <div class="row" style="margin-top:10px">
            <div class="col">{{agent?.address}}</div>
            <div class="col">{{agent?.state}}</div>
            <div class="col">{{agent?.city}}</div>
            <div class="col">{{agent?.pinCode}}</div>
        </div>
    </div>
    </mat-card>
    <mat-card style="margin-top: 20px">
    <h2 style="margin-top:20px;">Bank Information</h2>
    <div class="container" >
        <div class="row">
          <div class="col"><strong>NFET IFSC Code</strong></div>
          <div class="col"><strong>Account Holder Name</strong></div>
          <div class="col"><strong>Bank Name</strong></div>
          <div class="col"><strong>Account number</strong></div>
        </div>
        <div class="row" style="margin-top:10px">
            <div class="col">{{agent?.ifscCode}}</div>
            <div class="col">{{agent?.bankAccountHolderName}}</div>
            <div class="col">{{agent?.bankName}}</div>
            <div class="col">{{agent?.accountNumber}}</div>
        </div>
    </div>
    <div class="container"  >
        <div class="row" style="margin-top:40px;">
          <div class="col"><strong>Branch City</strong></div>
          <div class="col"><strong>Pincode</strong></div>
          <div class="col"></div>
          <div class="col"></div>
        </div>
        <div class="row" style="margin-top:10px">
            <div class="col">{{agent?.bankCity}}</div>
            <div class="col">{{agent?.bankPinCode}}</div>
            <div class="col"></div>
            <div class="col"></div>
        </div>
    </div>
    </mat-card>
</div>