<div class="content">
    <h1 style="display:flex;justify-content:center;font-weight:bold;margin-top: 10px;">My Policy</h1>
    <div class="container">
        <div class="row shadow-lg p-3 mb-5 bg-body rounded" style="margin-top:25px;width: 95%;">
            <div class="col-md-12">
                <div class="table-wrap">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Policy ID</th>
                                <th>Type</th>
                                <th>Created On</th>
                                <th>Company</th>
                                <th>Amount</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let policy of policies">
                                <th scope="row">{{ policy.id }}</th>
                                <td>{{ policy.policyType }}</td>
                                <td>{{ policy.createdDate.toDate() | date:'dd-MM-yyyy'}}</td>
                                <td> {{ policy.insuranceCompany }}</td>
                                <td>{{ policy.insuranceAmount }}</td>
                                <!-- <ng-template [ngIf]="policy.finalDocument !== ''">
                                    <td><a style="text-decoration: none" [href]="policy.finalDocument"
                                            target="_blank">Download</a></td>
                                </ng-template>
                                <ng-template [ngIf]="policy.finalDocument === ''">
                                    <td><button disabled mat-raised-button>Download</button></td>
                                </ng-template> -->
                                <td>
                                <ng-template [ngIf]="policy.currentState === 'AMOUNT_DECLARED'">
                                    <!--Pay or Reject-->
                                    <button mat-flat-button (click)="payNow(policy)" color="primary" style="left: 10px">Pay</button>
                                    <button mat-flat-button (click)="reject(policy)" color="warn" style="left: 20px">Reject</button>
                                </ng-template>
                                <ng-template [ngIf]="policy.currentState === 'SUBMITTED'">
                                    <!--Waiting for the admin to declare amount-->
                                    <span >Submitted</span>
                                </ng-template>
                                <ng-template [ngIf]="policy.currentState === 'AMOUNT_PAID'">
                                    <!--amount has been paid and waiting for the admin to upload final document-->
                                    <span >Amount Paid</span>
                                </ng-template>
                                <ng-template [ngIf]="policy.currentState === 'COMPLETED'">
                                    <!--final document has been uploaded and available for download-->
                                    <a [href]="policy.finalDocument" style="text-decoration: none;" target="_blank">Download</a>
                                </ng-template>
                                <ng-template [ngIf]="policy.currentState === 'REJECTED'">
                                    <!--Declined by the user-->
                                    <span style="color: red">Rejected</span>
                                </ng-template>
                            </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>