<div class="content">
    <h1 style="display:flex;justify-content:center;font-weight:bold;margin-top: 10px;">My Policy</h1>
    <div class="container">
        <div class="row shadow-lg p-3 mb-5 bg-body rounded" style="margin-top:25px;width: 95%;">
            <div class="col-md-12">
                <div class="table-wrap">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Policy ID</th>
                                <th>Policy Type</th>
                                <th>Created On</th>
                                <th>Insurance type</th>
                                <th>Plan</th>
                                <th>Product</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">21324354</th>
                                <td>Type</td>
                                <td>2022-09-18</td>
                                <td>Insurance type</td>
                                <td>policy plan</td>
                                <td>product</td>
                            </tr>
                            <tr>
                                <th scope="row">21324354</th>
                                <td>Type</td>
                                <td>2022-09-18</td>
                                <td>Insurance type</td>
                                <td>policy plan</td>
                                <td>product</td>
                            </tr>
                            <tr>
                                <th scope="row">21324354</th>
                                <td>Type</td>
                                <td>2022-09-18</td>
                                <td>Insurance type</td>
                                <td>policy plan</td>
                                <td>product</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>