<div class="content">
    <h1 style="display:flex;justify-content:center;font-weight:bold;margin-top: 10px;">My Policy</h1>
    <div class="container">
        <div class="row shadow-lg p-3 mb-5 bg-body rounded" style="margin-top:25px;width: 95%;">
            <div class="col-md-12">
                <div class="table-wrap">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Policy ID</th>
                                <th>Type</th>
                                <th>Created On</th>
                                <th>Amount</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let policy of allPolicies">
                                <th scope="row">{{ policy.id }}</th>
                                <td>{{ policy.policyType }}</td>
                                <td>{{ policy.createdDate.toDate() | date:'dd-MM-yyyy'}}</td>
                                <td>{{ policy.insuranceAmount }}</td>
                                <ng-template [ngIf]="policy.finalDocument !== ''">
                                    <td><a style="text-decoration: none" [href]="policy.finalDocument"
                                            target="_blank">Download</a></td>
                                </ng-template>
                                <ng-template [ngIf]="policy.finalDocument === ''">
                                    <td><button disabled mat-raised-button>Download</button></td>
                                </ng-template>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>